files:
  "/etc/docker/daemon.json":
     mode: "000644"
     owner: root
     group: root
     content: |
       {
         "log-driver": "splunk",
         "log-opts": {
           "splunk-token": "4d6cb11b-933f-4664-831e-5f38625430b0",
           "splunk-url": "https://input-prd-p-btrgh6drh3g2.cloud.splunk.com:8088",
           "splunk-insecureskipverify": "true"
         }
       }
